@{
    ViewData["Title"] = "About Beekeepers Corner";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Beekeepers Corner allows beekeepers to stay in contact and shares information on thier hives.</p>
