@{
    ViewData["Title"] = "Contact the Administrator";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Lee Mullen
    5822 Pioneer Rd S<br />
    Saint Paul Park, MN 55071<br />
    <abbr title="Phone">P:</abbr>
    651.459.1873
    lee_mullen@hotmail.com
</address>

