<!DOCTYPE html>
<html ng-app="BeekeepersCornerMVCApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BeekeepersCorner</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="BeekeepersAJ" asp-action="BeekeepersAJ" class="navbar-brand">Beekeepers Corner (AJ)</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        
        </div>
    <div style="float:left; width: 20%;">
        <img src="~/images/BeeKeeping_Img.jpg" alt="Beekeeper" class="img-responsive" />
    </div>
    <div style="float:left; width: 80%; padding-left: 15px; padding-right: 15px;">
        
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - Beekeepers Corner</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/angular/angular.min.js"></script>
        <script src="~/scripts/controllers/BeekeepersCornerControllerSet.js"></script>
        <script src="~/scripts/BeekeepersCornerMVCApp.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
   
</body>
</html>
